<div class="row">
  <div class="col-md-5">1</div>
  <div class="col-md-3">2</div>
  <div class="col-md-2">3</div>
</div>

<!--Row with three columns divided in 1:4:1 ratio-->
<div class="row">
  <div class="col-md-2">1</div>
  <div class="col-md-3">2</div>
  <div class="col-md-5">3</div>
</div>

<div class="row">
  <div class="col-md-2">1</div>
  <div class="col-md-2">2</div>
  <div class="col-md-2">3</div>
</div>